<div class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 class="fs-32 fw-semibold text-dark mb-20">
          記得<br />訂閱以獲取更多資訊！
        </h5>
        <div class="rounded-1 d-flex">
          <input
            type="email"
            placeholder="Your email address"
            class="call-to-action-email border border-2 border-brown-dark000 rounded-start-1 flex-grow-1"
          />
          <button
            type="submit"
            class="call-to-action-btn btn btn-brown-dark000 rounded-0 rounded-end-1"
          >
            Subscribe
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
