<footer class="bg-brown-dark000">
  <div
    class="container d-flex justify-content-between align-items-center pt-20 pb-22"
  >
    <div class="d-flex align-items-center">
      <a href="index.html"
        ><img
          src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/d%E2%80%99Perfumewhite.png"
          alt="Perfume-LOGO"
      /></a>
      <small class="ms-20 text-white">© 2020. All Rights Reserved.</small>
    </div>
    <ul class="d-none d-md-flex fs-5 gap-36">
      <li><a href="product.html" class="link-white">Product</a></li>
      <li><a href="##" class="link-white">Blog</a></li>
      <li><a href="##" class="link-white">Contact</a></li>
    </ul>
  </div>
</footer>
