<header>
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
      <h1 class="fs-0">
        <a class="navbar-brand" href="index.html"
          ><img src="../assets/images/d’Perfume.png" alt="d’Perfume"
        /></a>
      </h1>
      <!-- < 768px start -->
      <div class="d-flex align-items-center">
        <a class="nav-link link-dark d-md-none position-relative" href="##"
          ><span class="material-icons"> shopping_cart </span>
          <span
            class="cart-count bg-brown-dark000 px-1 position-absolute translate-middle fs-12 text-white rounded-pill"
            >3</span
          >
        </a>
        <button
          class="navbar-toggler border-0 px-20 ms-20 me--15"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="28"
            viewBox="0 0 32 28"
          >
            <defs>
              <style>
                .a {
                  fill: #8d8d8d;
                }
              </style>
            </defs>
            <path
              class="a"
              d="M1.143,65.143H30.857A1.143,1.143,0,0,0,32,64V61.143A1.143,1.143,0,0,0,30.857,60H1.143A1.143,1.143,0,0,0,0,61.143V64A1.143,1.143,0,0,0,1.143,65.143Zm0,11.429H30.857A1.143,1.143,0,0,0,32,75.429V72.571a1.143,1.143,0,0,0-1.143-1.143H1.143A1.143,1.143,0,0,0,0,72.571v2.857A1.143,1.143,0,0,0,1.143,76.571ZM1.143,88H30.857A1.143,1.143,0,0,0,32,86.857V84a1.143,1.143,0,0,0-1.143-1.143H1.143A1.143,1.143,0,0,0,0,84v2.857A1.143,1.143,0,0,0,1.143,88Z"
              transform="translate(0 -60)"
            />
          </svg>
        </button>
      </div>
      <!-- < 768px end -->
      <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
        <ul class="navbar-nav gap-3 fs-5">
          <li class="nav-item">
            <a
              class="nav-link link-dark"
              aria-current="page"
              href="product.html"
              ><span class="material-icons pe-1"> store </span>Product</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link link-dark" href="##"
              ><span class="material-icons pe-1"> person </span>log in</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link link-dark" href="##"
              ><span class="material-icons pe-1"> favorite </span>Wishlist</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link link-dark" href="##"
              ><span class="material-icons pe-1"> shopping_cart </span
              >Cart(3)</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
