.container {
  max-width: 1140px;
}
.material-icons {
  vertical-align: middle;
}
body {
  font-family: "SF Pro Text", "PingFang TC", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
a {
  color: $black;
  text-decoration: none;
  display: block;
}
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-bottom: 0;
  line-height: 1.5;
  font-weight: 700;
}
p {
  margin-bottom: 0;
}
