// bootstrap
@import "../node_modules/bootstrap/scss/functions";
@import "../scss/helpers/variables";

@import "../node_modules/bootstrap/scss/bootstrap";

// 自定義變數
$light: #e0e0e0;
$dark: #8d8d8d;
$brown-dark000: #916000;
$brown-dark019: #916019;
$brown-light: #ac8a46;
$white: #ffffff;
$black: #000000;

// icon
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// base
@import "./base";

// utilities
@import "./utilities";

// layout
@import "./layout/header";
@import "./layout/callToAction";

// pages
@import "./pages/index";
@import "./pages/product";
